@charset "UTF-8";
/* CSS Document */


@media screen and (orientation: landscape) {
       
    
    
        body {
            background-color: #3194ff;
        }


        .Artickel_Nr_eingeben {
                box-shadow: 5px 5px 5px black;
                font-family: 'Helvetica Neue';
                font-size: 3em;
                text-align: center;
                border-radius: 45px;
                background-color: white;
                position: absolute;
                top: 236px;
                left: 112px;
                height: 96px;
                width: 504px;
                z-index: 1;  
        }




        .OK {
                box-shadow: 5px 5px 5px black;
                font-family: 'Helvetica Neu';
                font-size: 4em;
                text-align: center;
                border-radius: 35px;
                background-color: white;
                position: absolute;
                top: 236px;
                left: 680px;
                height: 96px;
                width: 112px;
                z-index: 2;
        }


        .Sekment_greoße_anpassen {
                box-shadow: 5px 5px 5px black;
                font-family: 'Helvetica Neue';
                font-size: 3em;
                text-align: center;
                border-radius: 45px;
                background-color: white;
                position: absolute;
                top: 132px;
                left: 904px;
                height: 80px;
                width: 580px;
                z-index: 3;
        }


        .Ebene_greoße_anpassen {
                box-shadow: 5px 5px 5px black;
                font-family: 'Helvetica Neue';
                font-size: 3em;
                text-align: center;
                border-radius: 45px;
                background-color: white;
                position: absolute;
                top: 276px;
                left: 927px;
                height: 80px;
                width: 530px;
                z-index: 4;
        }


        .QR_Code_erstellen {
                box-shadow: 5px 5px 5px black;
                font-family: 'Helvetica Neue';
                font-size: 3em;
                text-align: center;
                border-radius: 45px;
                background-color: white;
                position: absolute;
                top: 228px;
                left: 1584px;
                height: 64px;
                width: 265px;
                z-index: 5;
        }


        th {
                color: red;
                font-family: 'Melvetica Neue';
                font-size: 2.5em;
                position:relative;
                top: 550px;
                left: 20px;
                height: 40px;
                width: 1700px;
        } 

        
        
    }