@charset "UTF-8";
/* CSS Document */



@media screen and (orientation: portrait) {

/* Navigation */

.dropbtn {
	background-image: url("../Jpg/Menü-Bilder/Menü-Symboll - Zu.jpg");
	position: absolute;
	left: 74px;
	top: 48px;
	width: 54px;
	height: 47px;
	z-index: 19;
	padding: 50px;
	font-size: 50px;
	border: none;
	cursor: pointer;
}



.dropdown {
	position: relative;
	display: inline-block;
	z-index: 100;
}

.dropdown-content {
	font-size: 450%;
	line-height: 275%;
	font-family: 'Myriad Pro';
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	overflow: auto;
	border-color:  rgb(0,0,0);
	box-shadow: 0px, 0px, 16px, 0px, rgba(0,0,0,0.2);
	border-width: 1px;
	border-radius: 52px;
	left: 40px;
	top: 190px;
	width: 550px;
	height: 1150px;
	z-index: 101;
}



.dropdown-content a {
	color: black;
	padding: 12px, 16px;
	text-decoration: none;
	display: block;
	z-index: 102;
}

.dropdown a:hover {
	background-color: #ddd;
	z-index: 103;
}

.show {
	display: block;
	z-index: 104;
}

}